﻿@page "{id:Guid}"
@model OddestOdds.WebClient.Pages.Matches.EditModel
@{
    ViewData["Title"] = "Edit Match Odds";
}

<h2>Update Odds</h2>
<hr />

<h5>@Model.Match.HomeTeam.Alias vs @Model.Match.AwayTeam.Alias</h5>
<h6>@Model.Match.MatchDate.LocalDateTime.ToString("dd MMM yyyy, HH:mm")</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <input type="hidden" asp-for="Match.Id" />
            <input type="hidden" asp-for="Match.HomeTeamId" />
            <input type="hidden" asp-for="Match.AwayTeamId" />
            <input type="hidden" asp-for="Match.MatchDate" />
            <div class="form-group">
                <label asp-for="Match.HomeOdds" class="control-label"></label>
                <input asp-for="Match.HomeOdds" class="form-control" type="number" step="any" min="0" required />
                <span asp-validation-for="Match.HomeOdds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.DrawOdds" class="control-label"></label>
                <input asp-for="Match.DrawOdds" class="form-control" type="number" step="any" min="0" required  />
                <span asp-validation-for="Match.DrawOdds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.AwayOdds" class="control-label"></label>
                <input asp-for="Match.AwayOdds" class="form-control" type="number" step="any" min="0" required  />
                <span asp-validation-for="Match.AwayOdds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Matches/@Enumerations.MatchesViewMode.OddsHandler">Back to Matches</a>
</div>

@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
