﻿@page "{viewMode:int}"
@model OddestOdds.WebClient.Pages.Matches.IndexModel
@{
    ViewData["Title"] = "Matches";
}

<h2>Matches</h2>


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th style="text-align:center">1</th>
            <th style="text-align:center">X</th>
            <th style="text-align:center">2</th>
            @if (Model.ViewMode == Enumerations.MatchesViewMode.OddsHandler)
            {
                <th style="text-align:center">Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Matches)
        {
        <tr>
            <td>
                <div style="text-align:center">
                    <h5>@item.HomeTeam.Alias vs @item.AwayTeam.Alias</h5>
                    <h6>@item.MatchDate.ToLocalTime().ToString("dd MMM yyyy HH:mm")</h6>
                </div>
            </td>
            <td style="text-align:center"><div id="@(item.Id + "HomeOdds")">@(item.HomeOdds == 0.0M ? "-" : item.HomeOdds.ToString())</div></td>
            <td style="text-align:center"><div id="@(item.Id + "DrawOdds")">@(item.DrawOdds == 0.0M ? "-" : item.DrawOdds.ToString())</div></td>
            <td style="text-align:center"><div id="@(item.Id + "AwayOdds")">@(item.AwayOdds == 0.0M ? "-" : item.AwayOdds.ToString())</div></td>

            @if (Model.ViewMode == Enumerations.MatchesViewMode.OddsHandler)
            {
                <td style="text-align:center">
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>

<script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/matches.js"></script>


