﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

    <div class="text-justify">
        <h1 class="display-4 text-center">Oddest Odds</h1>

        <h2>About</h2>
        <p>
            The Oddest Odds application displays 1X2 odds for a tournament featuring the English Premier League top 4 clubs. These odds are displayed
            in real time to clients.
        </p>
        <p>
            The application consists of two sections, the client screen (accessible through the "Punter" link)
            and the back office screen (accessible through the "Odds Handler" link)
        </p>

        <h2>Features</h2>
        <h5>Clients</h5>
        <ul>
            <li>Can view 1X2 odds in real time</li>
        </ul>

        <h5>Odds Handler</h5>
        <ul>
            <li>Can view all the current 1X2 odds</li>
            <li>Can remove odds by updating value to "0" or leaving the field empty</li>
            <li>Can update odds for the scheduled matches</li>
        </ul>


    </div>
